@import "tailwindcss";

/* Reset default margins */
body, html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
  overflow-y: auto; /* Only allow vertical scroll on body */
}

/* Prevent horizontal scrolling only */
html, body {
  overflow-x: hidden;
  width: 100%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background: #101010;
}

::-webkit-scrollbar-thumb {
  background: #00c1a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00a58a;
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00c1a1 #101010;
}

@theme {
  --font-primary: "League Spartan", "serif";
  --font-header: "Vipnagorgialla";
  --font-general: "general";
  --font-logo: "Lilita One", "serif";
  --font-typewriter: "typewriter";
  --font-weight: 300; 
  --color-avocado-100: oklch(0.99 0 0);
  --color-regal-blue: #243c5a; 
}

@font-face{
  font-family: "general";
  src: url("/fonts/general.woff2") format(woff2);
}

@font-face {
  font-family: "Vipnagorgialla";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Vipnagorgialla Bd.otf") format("opentype");
}
@font-face{
  font-family:  "Lilita One";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/LilitaOne-Regular.ttf") format("truetype");
}
@font-face{
  font-family:  "typewriter";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/bptypewrite.damaged.otf") format("opentype");
}

.nav-link {
  letter-spacing: 0.05em; 
}
.nav-link {
  position: relative;
  font-family: var(--font-primary);
  font-weight: var(--font-weight); 
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.5px;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  transition: width 0.3s ease-in-out;
  opacity: 0;
}

.nav-link:hover::after {
  width: 60%;
  opacity: 1;
}

.same-size {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carousel {
    animation: scroll 25s linear infinite;
    width: fit-content;
}

.carousel.reverse {
    animation-direction: reverse;
}

.carousel.paused {
    animation-play-state: paused;
}
